<h1>Novo Minicipe</h1>

<%= render "form", city: @city %>

<div class="form-group form-button">
  <div class="col">
    <%= link_to "Lista de Municipes", cities_path, class: "btn btn-primary" %>
  </div>
</div>
