<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="min-height: 95vh;">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href=<%= cities_path%>>
          <span data-feather="home"></span>
          Lista de Municipes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%= new_city_path %>>
          <span data-feather="file"></span>
          Criar Municipe
        </a>
      </li>
    </ul>
  </div>
</nav>
